{{if .IsViewFile}}
<div class="repo-view-right-panel">
  <div class="flex-text-block repo-button-row">
    <button type="button" class="repo-view-right-panel-toggle ui button"
      data-toggle-action="hide"
      data-tooltip-content="Hide Code Intelligence">
      {{svg "octicon-sidebar-expand"}}
    </button>
    <b>Code Intelligence</b>
  </div>

  <!-- Tabs -->
  <div class="code-intel-tabs">
    <button type="button" class="code-intel-tab active" data-tab="references">References</button>
    <button type="button" class="code-intel-tab" data-tab="dependencies">Dependencies</button>
  </div>

  <!-- Tab Content -->
  <div class="code-intel-content">
    <div id="tab-references" class="code-intel-pane">
      <p class="tw-text-gray-500 tw-text-center tw-p-4">Select code to find references</p>
    </div>
    <div id="tab-dependencies" class="code-intel-pane tw-hidden">
      <p class="tw-text-gray-500 tw-text-center tw-p-4">Select a class to view dependencies</p>
    </div>
  </div>
</div>
{{end}}
